<?xml version="1.0" encoding="UTF-8"?>
  <web-app>
    <servlet>
      <servlet-name>Servlet</servlet-name>
      <servlet-class>Servlet</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
      <servlet-name>index</servlet-name>
      <servlet-class>Index</servlet-class>
      <load-on-startup>1</load-on-startup>
    </servlet>
  </web-app>